* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

:root {
  --pramary: #21d4fd;
  --secondary: #b721ff;
  --third: #ffcc70;
  --black: #0f0f0f;
  --white: #ffffff;
  --lightGray: #d3d3d3;
  --springGreen: #00ff7f;
  --orangeRed: #ff4500;
}

/* MAIN BODY AND BACKGROUND */
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--pramary);
  background-image: linear-gradient(
    19deg,
    var(--pramary) 0%,
    var(--secondary) 100%
  );
}

/* CARD AND FORM ITEMS */
.card {
  display: grid;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 2px 2px 5px 0 #00000090;
}

.card h1 {
  text-align: center;
  font-size: 2rem;
}
.card label {
  display: block;
  color: var(--lightGray);
  padding-bottom: 10px;
}
.card input,
select,
textarea {
  border: none;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 10px;
}
.card input:focus,
select:hover,
input:hover {
  border: none;
}

.card button {
  background-color: var(--pramary);
  background-image: linear-gradient(
    19deg,
    var(--pramary) 0%,
    var(--secondary) 100%
  );
  border-radius: 20px;
  padding: 6px;
  border: none;
  margin: 10px;
  color: var(--white);
  transition: 0.5s;
  width: 200px;
}
.card button:hover {
  transform: scale(1.25);
  filter: contrast(10);
}

.card input:valid {
  border: 3px solid var(--springGreeen);
  border-radius: 5px;
}

/* .card input:invalid {
  border: 3px solid var(--orangeRed);
  border-radius: 5px;
} */
